body {
  padding-top: 40px;
}
footer {
  margin: 0 auto;
  padding-bottom: 10px;
  background: #f8f8f8 url(/images/pattern.jpg) left top repeat;
  -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
}
