<!-- Site footer -->
<div class="footer row">
  <div class="col-xs-12 col-md-6">
    <p>Important Links</p>
    <ul>
      <li><a href="https://github.com/HHS/voc-admin">VOC Admin Github</a></li>
      <li><a href="https://github.com/HHS/voc-admin">VOC Public Github</a></li>
      <li><a href="https://github.com/HHS/voc-admin/issues">Github Issues</a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-6">
    <p>Change Control Board Organizations</p>
    <ul>
      <li><a href="http://www.hhs.gov/">Health and Human Services</a></li>
      <li><a href="http://www.gsa.gov/">General Services Administration</a></li>
    </ul>
  </div>
</div>
